
  .Thomemaincontener{
    height: 932px;
    overflow: hidden;
  }
  .Thomemaintextimg {
    display: flex;
    padding-left:20px;
    justify-content: center;
    margin:0px 20px 0px 0px;
  }
  .Thomemaintext {
    width: 178px;
    color: rgba(0,0,0,1);
    fontfamily: Poppins;
    fontweight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    margin-right: 7%;
    padding:40px 0px 0px 0px ;
  }
  .Thomemainimg {
    width: 164px;
    height: 127px;
    background: url("./images/homework.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
  }
  .Thomemainbut1{
    padding: 42px 0px 42px 5px;
  }
  .Thomemainbuttons1{
    background-color: #E5EFFF;
    align-items: center;
    height: 42px;
    opacity: 1;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 10px;
    justify-content: space-evenly;
  }
  .Thomemainbuttons1 div{
    width: 34%;
    border-radius: 10px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content:center ;
  }
   .Thomemainbuttons1 div.selected {
    border: 2px solid #0961F5;
    background: #0961F5;
    color: #fff;
  }
  @media screen and (min-width:700px ) {
    .Thomemaincontener{
      width: 100%;
    }
    .Thomemaintext {
      color: rgba(0,0,0,1);
      fontfamily: Poppins;
      fontweight: SemiBold;
      font-size: 22px;
      opacity: 1;
      text-align: left;
      margin-right: 60%;
      padding:40px 0px 0px 0px ;
    }
  }
  